.custom-bg{
    background-color: #FFF9F4;
}
.custom-margin{
    margin-top: 110px;
}
.custom-margin-1{
    margin-bottom: 130px;
}
.custom-bg-1{
    background-color: #F1F1F1;
}
.margin-bottom{
    margin-bottom: 35px;
}
.custom-margin-2{
    margin-top: 200px;
    margin-bottom: 200px;
}